<header role="banner" class="header js-nav">
    <div class="header-trigger" id="sidebar">
        <div class="nav-trigger" onmouseover="this.style.height='25%';"
            onmouseleave="this.style.height='150%';">

            <button class="menu-button">
                <div class="menu-button-text">
                    MENU
                </div>
                <div class="dots">
                    <span class="menu-dots"></span>
                    <span class="menu-dots"></span>
                    <span class="menu-dots"></span>
                </div>
            </button>

            <div class="header-body nav-target">
                <div class="nav-body" id="nav-body">
                    <nav role="navigation">
                        <ul class="primary-nav">
                            <a href="/tours" class="nav-item">TOURS</a>
                            <a href="http://github.com/laurenharmon" class="nav-item">GITHUB</a>
                            <a href="http://linkedin.com/in/laurenaharmon" class="nav-item">LINKEDIN</a>
                            <a href="/sites" class="nav-item">SITES</a>
                            <a href="/sites/create" class="nav-item">ADD SITE</a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>