<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <figure class="image is-vcentered mr-3">
                    <img src="/images/stl-flag.png">
                </figure> <p class="brand-link">YOUR TOUR</p>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/sites/create">
                    Add Site
                </a>
                <a class="navbar-item" href="/sites">
                    All Sites
                </a>
                <a class="navbar-item" href="http://github.com/laurenharmon">
                    Github
                </a>
                <a class="navbar-item" href="http://linkedin.com/in/laurenaharmon">
                    LinkedIn
                </a>
            </div>
        </div>
    </div>
</header>