<% for(let route of routes) {%>
  <div class="card mb-3 mr-3">
    <div class="card-content mb-0">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            <%= route.name %>
          </p>
          <p class="subtitle">
            <%= route.neighborhood %>
          </p>
        </div>
        <div class="content">
          <button class="button is-info" value="<%= route.name %>">See This Tour</button>
        </div>
      </div>
    </div>
    <!-- <footer class="card-footer">
      <div class="box">
            <% for(let site of route.route.sites) {%>
              <div class="content">
                <%= site.name %>
              </div>
              <% } %>
     </div>
    </footer> -->
  </div>
  <% } %>