<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/map.css">
    <title>History</title>
</head>

<body>
    <main class="main-page is-desktop">
        <%- include("./partials/navbar") %>

            <section class="container my-4">
                <div class="tile is-ancestor">

                    <div class="tile is-parent">
                        <article class="tile is-child notification odd">
                            <div class="content has-text-white is-center">
                                <p class="title">Search</p>
                                <div class="block">
                                    <div class="field is-grouped">
                                        <div class="control is-expanded">
                                            <input class="input is-rounded" type="text" placeholder="Search">
                                        </div>
                                        <div class="control">
                                            <button class="button is-danger is-rounded"><img
                                                    src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" /></button>
                                        </div>
                                    </div>
                                    <div class="block">

                                    </div>
                                </div>

                            </div>
                    </div>



                    <div class="tile is-parent">
                            <div class="tile is-child notification is-danger">
                                <div id='map'></div>
                            </div>
                    </div>




                    <div class="tile is-parent" id="selected"></div>
                </div>
            </section>
    </main>
    <%- include("./partials/footer") %>

        <script> const sites = { features: <%- JSON.stringify(sites) %>}</script>
        <script src="/scripts/downtownMap.js"></script>
</body>

</html>