<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/map.css">
    <title>History</title>
</head>

<body>
    <main class="main-page is-desktop">
        <%- include("./partials/navbar") %>

            <section class="container my-4">
                <div class="tile is-ancestor">

                    <div class="tile is-parent">
                        <article class="tile is-child notification odd">
                            <div class="content has-text-white cards-list">
                                
                                   <% for(let i = 0; i < 10; i++) {%> 
                                    <div class="card mb-3 mr-3">

                                        <div class="card-content">
                                          <div class="media">
                                            <div class="media-left">
                                              <figure class="image is-48x48">
                                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                              </figure>
                                            </div>
                                            <div class="media-content">
                                              <p class="title is-4">John Smith</p>
                                              <p class="subtitle is-6">@johnsmith</p>
                                            </div>
                                          </div>
                                      
                                          <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                            <a href="#">#css</a> <a href="#">#responsive</a>
                                            <br>
                                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                          </div>
                                        </div>
                                      </div>
                                    <% } %> 
                                  
                                

                            </div>
                    </div>



                    <div class="tile is-parent">
                        <div class="tile is-child notification is-danger">
                            <div id='map'></div>
                        </div>
                    </div>




                    <div class="tile is-parent" id="selected"></div>
                </div>
            </section>
    </main>
    <%- include("./partials/footer") %>

        <script> const sites = { features: <%- JSON.stringify(sites) %>}</script>
        <script src="/scripts/downtownMap.js"></script>
</body>

</html>