<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Your Tour</title>
</head>

<body>
    <section>
        <%- include("./partials/header") %>
        <div class="landing-wrapper">
            <div class="navbar-landing">
                <div class="brand">
                    <figure class="logo is-128x128">
                        <img src="/images/stl-flag.png" alt="Flag of St. Louis">
                    </figure>
                    <h1 class="branding has-text-white"><strong class="has-text-white">Your </strong>Tour</h1>
                </div>
            </div>

            <div class="action-section">
                <a class="title has-text-white" href="/tours">
                    Tour More <span><strong>&#8680;</strong></span>
                </a>
            </div>
        </div>

    </section>
    <script async type="text/javascript" src="/scripts/bulma.js"></script>
</body>

</html>