<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Your Tour</title>
</head>

<body>
    <section>
        <header role="banner" class="header js-nav">
            <div class="header-trigger" id="sidebar">
                <div class="nav-trigger" onmouseover="this.style.height='25%';"
                    onmouseleave="this.style.height='150%';">

                    <button class="menu-button">
                        <div class="menu-button-text">
                            MENU
                        </div>
                        <div class="dots">
                            <span class="menu-dots"></span>
                            <span class="menu-dots"></span>
                            <span class="menu-dots"></span>
                        </div>
                    </button>

                    <div class="header-body nav-target">
                        <div class="nav-body" id="nav-body">
                            <nav role="navigation">
                                <ul class="primary-nav">
                                    <a href="/tours" class="nav-item">TOURS</a>
                                    <a href="http://github.com/laurenharmon" class="nav-item">GITHUB</a>
                                    <a href="http://linkedin.com/in/laurenaharmon" class="nav-item">LINKEDIN</a>
                                    <a class="nav-item">FILLER</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="landing-wrapper">
            <div class="navbar-landing">
                <div class="brand">
                    <figure class="logo is-128x128">
                        <img src="/images/stl-flag.png" alt="Flag of St. Louis">
                    </figure>
                    <h1 class="branding has-text-white"><strong class="has-text-white">Your </strong>Tour</h1>
                </div>
            </div>

            <div class="action-section">
                <a class="title has-text-white" href="/tours">
                    Tour More <strong>&#8680;</strong>
                </a>
            </div>
        </div>

    </section>
    <script async type="text/javascript" src="/scripts/bulma.js"></script>
</body>

</html>