<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Your Tour</title>
</head>

<body>

    <section class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <p class="brand">Your Tour</p>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="/tours">
                                Tours
                            </a>
                            <a class="navbar-item" href="http://github.com/laurenharmon">
                                Github
                            </a>
                            <a class="navbar-item" href="http://linkedin.com/in/laurenaharmon">
                                LinkedIn
                            </a>
 
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title has-text-black">
                    Self-Guided Historical Tours of St. Louis
                </p>
                <a href="/tours" rel="check" class="button is-danger is-large">See The Tours</a>
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot is-hidden-mobile">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li><a>Overview</a></li>
                        <li><a>Developer Info</a></li>
                        <li><a>Documentation</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <script async type="text/javascript" src="/scripts/bulma.js"></script>
</body>

</html>