body {
    font-family: 'Work Sans', sans-serif;
    background-image: linear-gradient(rgba(22, 16, 16, 0.13), rgba(22, 16, 16, 0.377)),
    url("/images/arch-picture.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 90%;
    height: 100vh;
    margin-bottom: 0;
}


header.header {
    border-left: 2px solid rgba(0, 0, 0, 0.068);
}

header.header.js-nav:hover {
    border-left: 2px solid black;
}

.navbar {
    height: 50px;
}


.tile {
    height:  95vh;
}


.tile.is-child {
    box-shadow: 2px 2px 2px 1px rgba(7, 11, 240, 0.24), -2px -2px 2px 1px rgba(7, 11, 240, 0.24);
}

div.circle {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    padding-top: .65em;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 2em Arial, sans-serif;
}

#index-title {
    color: white;
    font-size: 3rem;
    padding: 4rem 0 0 2rem;
    letter-spacing: .12em;
    text-align: center;
}

#index-card {
    margin-bottom: 1rem;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

#index-card:hover{
    cursor: pointer;
    box-shadow: 0 0.5em 1em -0.5em white, 0 0 0 2px white;
}

div.media-content .title, .subtitle {
    text-align: right;
}

.card.sites-card {
    min-height: 25vh;
    max-height: 45vh;
    overflow: auto;
}

.tour-btn {
    background-color: rgba(255, 0, 0, 0.685);
    color: white;
}

.tour-btn:hover {
    color: white;
    font-weight: 500;
}

span.arrow {
    color: white;
    padding-right: .25em;
    display: block;
    transition-duration: .25s;
    transition-property: padding;
}

.tour-btn:hover span.arrow {
    padding-right: .45em;
}

#selected:empty {
    display: none;
}

#selected {
    margin-top: 1em !important;
    height: 60vh;
}

div.history-card {
    height: 40vh;
}

.facts {
    width: 100%;
    text-align: center;
}

.cards-list {
    padding: 10px;
    height: 85vh;
    overflow: auto;
}

div.card-content.history {
    height: 30vh;
    width: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.tabs.history-tabs {
    color: black;
    border-bottom: none;
    width: 100%;
}

div.tabContent { 
    height: auto;
    overflow: auto;
    padding: 0.5em; 
    margin-bottom: .5em;
    display: block;
    width: 100%
}

div.tabContent#year, div.tabContent#filler {
    display: none;
}

@media screen and (max-width: 930px) {
    section.container.my-4 {
        height: 100%;
        overflow: auto;
    }


    .tile.is-parent#details {
        margin: 1em 1.5em;
    }

    .tile.is-parent#map-tile {
        margin: 1em 1.5em;
    }
}

@media screen and (max-width: 1023px) {
    .tile.is-ancestor {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .tile.is-parent.list {
        margin: auto 1.5em auto !important;
    }

    .media-content {
        overflow-x: inherit;
    }


    .tile.is-parent#map-tile {
        height: 15em;
        margin: 1em 1.5em;
    }

    .tile.is-child.map {
        height: 15em;
    }

    .tile.is-parent#details{
        margin: 1em 1.5em;
    }
}