body {
    font-family: 'Work Sans', sans-serif;
}

header {
    border-left: 2px solid rgba(0, 0, 0, 0.068);
}

header:hover {
    border-left: 2px solid black;
}

.navbar {
    height: 50px;
}

.main-page{
    min-height: calc(100vh - 50px);
    width: 90%;
}

.tile {
    height:  95vh;
}


.tile.is-child {
    box-shadow: 2px 2px 2px 1px rgba(7, 11, 240, 0.548), -2px -2px 2px 1px rgba(7, 11, 240, 0.548);
}

div.circle {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    padding-top: .65em;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 2em Arial, sans-serif;
}

#index-title {
    font-size: 3rem;
    padding: 2rem 0;
    letter-spacing: .12em;
    text-align: center;
}

#index-card {
    margin-bottom: 1rem;
}

#index-card:hover{
    cursor: pointer;
    box-shadow: 0 0.5em .75em -0.5em rgb(58, 58, 58), 0 0 0 1px rgb(58, 58, 58);
}

div.media-content .title, .subtitle {
    text-align: right;
}

.card.sites-card {
    max-height: 35vh;
    overflow: auto;
}

.tour-btn {
    background-color: rgba(255, 0, 0, 0.685);
    color: white;
}

.tour-btn:hover {
    color: white;
    font-weight: 500;
}

span.arrow {
    color: white;
    padding-right: .25em;
    display: block;
    transition-duration: .25s;
    transition-property: padding;
}

.tour-btn:hover span.arrow {
    padding-right: .45em;
}

#selected:empty {
    display: none;
}

#selected {
    margin-top: 1em !important;
}

.facts {
    height: 30vh;
    overflow: auto;
}


.cards-list {
    padding: 10px;
    height: 99%;
    overflow: auto;
}

@media screen and (max-width: 930px) {
    section.container.my-4 {
        height: 100%;
        overflow: auto;
    }


    .tile.is-parent#details {
        margin: 1em 1.5em;
    }

    .tile.is-parent#map-tile {
        margin: 1em 1.5em;
    }
}

@media screen and (max-width: 1023px) {
    .tile.is-ancestor {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .tile.is-parent.list {
        margin: auto 1.5em auto !important;
    }

    .media-content {
        overflow-x: inherit;
    }


    .tile.is-parent#map-tile {
        height: 15em;
        margin: 1em 1.5em;
    }

    .tile.is-child.map {
        height: 15em;
    }

    .tile.is-parent#details{
        margin: 1em 1.5em;
    }
}