body {
    min-height: 100vh;
    margin: 0;
}

.navbar {
    height: 50px;
}

.main-page{
    min-height: calc(100vh - 50px);
}

.main-footer {
    height: 50px;
}

a.navbar-item {
    color: white;
}

a.navbar-item:hover {
    color: white;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.582);
}

.tile {
    height: 83vh;
}


.odd {
    background-color: #2b2d42bd;
}

.card.sites-card {
    max-height: 35vh;
    overflow: auto;
}

#selected:empty {
    display: none;
}

#selected {
    margin-top: 1em !important;
}

.facts {
    max-height: 30vh;
    overflow: auto;
}


.cards-list {
    overflow: auto;
}