body {
    font-family: 'Work Sans';
    min-height: 100vh;
    margin: 0;
}

section {
    height: 100vh;
    background-color: transparent;
}

header.header {
    cursor: pointer;
    height: 100vh;
    width: 10%;
    position: fixed;
    right: 0;
    z-index: 100;
    transition-property: width;
    transition-duration: 0.25s;
}

header.header:hover {
    background-color: white;
    width: 15%;
}

.header-trigger {
    text-align: center;
    height: 100%;
    padding: 6rem 3rem 4rem;
}

.nav-trigger  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vh;
    position: relative;
    height: 150%;
}

.nav-target:hover {
    padding: 0 50% 1000px;
    cursor: pointer;
}

a.nav-item {
    font-size:larger;
    font-weight: 400;
    color: black;
    display: block;
    padding: 10% 0;
    margin-bottom: 2rem;
}

.nav-item:hover {
    border-bottom: 2px solid rgba(0, 0, 255, 0.473);
}

.menu-button {
    font-size: 1.7rem;
    line-height: 2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
    padding: 3em 0;
    background-color: transparent;
    appearance: none;
    border: 0;
    box-shadow: none;
}

.menu-botton:hover {
    cursor: pointer;
}

.dots {
    line-height: 1;
    position: relative;
    pointer-events: none;
    display: block;
}

.menu-dots {
    display: inline-block;
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 3px;
}

nav.landing {
    margin: -50px;
}


.landing-wrapper {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url("/images/arch-picture.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: inherit;
    width: 90%;
}

.navbar-landing {
    position: absolute ;
    left: 8rem ;
    padding-top: 10rem ;
    background-color: transparent;
    font-size: 3em;
    width: 100%;
}

.branding {
    text-shadow: black 2px 0 10px;
}

.action-section {
    position: absolute;
    width: 100%;
    bottom: 8rem;
    left: 8rem;
}

a.title {
    text-shadow: black 2px 0 10px;
    transition-property: margin;
    transition-duration: 0.2s;
}
 a.title:hover {
    padding-right: 0.5rem;
    margin-bottom: 0.3rem;
    border-bottom: 2px solid white;
}

span {
    color: white;
    padding-left: .25em;
    transition-duration: .25s;
    transition-property: padding;
}

a.title:hover span {
    padding-left: .45em;
}
